body {
  margin: 0;
  background: linear-gradient( #f8f8ae,#bedef8);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  margin-top: 10px;
}

.titulo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #2b6aa1;
  padding: 15px 15px;
}

.mygames {
  color: #ffffff;
}

.author {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-top: 10px;
}

.imagen {
  width: 100%;
}

.tictactoe {
  margin-top: 15px;
  text-align: center;
}

.card {
  font-weight: bolder;
  text-align: center;
}

.mostrarGanador {
  font-weight: bolder;
  margin: 10px;
  padding: 5px;
}

.footer {
  color: #ffffff;
  background-color: #2b6aa1;
  padding: 15px 15px;
  margin-top: 50px;
  bottom: 0%;
}

.imagenPokemon {
  padding: 1rem;
}

.rock {
  background-color: rgb(189, 123, 93);
}
.ghost {
  background-color: rgb(247, 247, 247);
}
.electric {
  background-color: rgb(255, 255, 161);
}
.bug {
  background-color: #b8eb7f;
}
.poison {
  background-color: #e0a7f6;
}
.normal {
  background-color: #F4F4F4;
}
.fairy {
  background-color: rgba(250, 164, 178, 0.863);
}
.fire {
  background-color: #ff9797;
}
.grass {
  background-color:#b9ffb6;
}
.water {
  background-color:#E0F1FD;
}
.psychic {
  background-color:#fa99c6;
}
.ground {
  background-color: #c5ad5d;
}
.fighting {
  background-color: #ffb066;
}
.dragon {
  background-color: #8c6494;
}